* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.hide {
  display: none;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}



input{
  width:100%;
}
header h3 {
  font-weight: normal;
  margin: 0;
  padding: 10px;
}

.playlist {
  background: rgb(255, 255, 255);
  margin-top: 15px;
  color: #47ace7;
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.selected {
  background: #47ace7;
  color: white;
}

.playlist .header {
  padding: 10px;
}

.songContainer {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
}

.deletebtn {
  background: none;
  border: none;
}
.pltext {
  padding: 5px;
}

.loi {
  margin: 0;
  list-style: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.loi li {
  padding: 4px 0;
  font-weight: 450;
}

.song {
  padding: 5px;
}

.controls {
  display: flex;
  flex-direction: row;
  height: 55px;
  background: #3a3a3a;
  color: white;
  align-items: center;
  width: 100vw;
}

.vlme {
  display: flex;
  align-content: center;
  overflow: hidden;
  width: 25px;
  transition: all 500ms;
  position: absolute;
  right: 1%;
}

.vlme:hover {
  width: 90px;
}

.volum {
  padding: 10px;
}

#volBar {
  padding: 0;
  margin: 0;
  width: 50px;
  background: transparent;
}

#volBar::-moz-range-thumb {
  height: 10px;
  width: 3px;
  background: #2a6586;
  border-radius: 5px;
  cursor: pointer;
}

.musicControls {
  margin-left: 50px;
}

.musicControls span {
  cursor: pointer;
}

.musicControls span:hover {
  color: #2a6586;
}

.play {
  padding: 15px 18px;
  position: relative;
  z-index: 3;
}

.play:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.play:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.prev {
  padding-left: 15px;
  padding-right: 10px;
  margin-right: -5px;
  z-index: 1;
}

.next {
  padding-right: 15px;
  padding-left: 10px;
  margin-left: -5px;
  z-index: 1;
}

.progressb {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  /* margin-left: 30px; */
}

#prgbar {
  background: transparent;
  width: 250px;
}

